.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e6f2ff, #f5fbff);
    font-family: 'Poppins', sans-serif;
}

.auth-card {
    background: #ffffff;
    padding: 35px 40px;
    width: 100%;
    max-width: 420px;
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(0, 123, 255, 0.15);
    text-align: center;
}

.auth-card h2 {
    color: #0d6efd;
    margin-bottom: 6px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-bottom: 22px;
}

.auth-card input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

.auth-card input:focus {
    outline: none;
    border-color: #2563eb;
}

.auth-card button {
    width: 100%;
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.auth-card button:hover {
    background: #1d4ed8;
}

.switch {
    margin-top: 18px;
    font-size: 14px;
    color: #4b5563;
}

.switch a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

.switch a:hover {
    text-decoration: underline;
}

.error {
    background: #fee2e2;
    color: #991b1b;
    padding: 8px;
    border-radius: 6px;
    font-size: 13px;
    margin-bottom: 12px;
}


.form-error {
  background: #fee2e2;
  color: #991b1b;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  font-size: 14px;
  text-align: center;
}

.auth-card select {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}


.auth-card select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
