{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

<section class="auth-page">
    <div class="auth-card">

        <h2>Email Sent 📩</h2>
        <p class="subtitle">
            If the email exists, a password reset link has been sent.
            Please check inbox or spam.
        </p>

        <p class="switch">
            Back to <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</section>
{% endblock %}
